/* ===== Global Variable ===== */
:root {
  /* Color Global */
  /* Neutral */
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);

  /* Red */
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);

  /* Gradient */
  --Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

/* ===== Elements variable ==== */
:root {
  /* FONT SIZE : Scale= 16 x1.25 */
  --text-sm: 1.28rem; /* 1.28rem*/
  --text-link: 1.4rem; /* 1.4rem */
  --text-paragraph: 1.6rem; /* 1.6rem */
  --text-title: 2rem;
  --text-h6: 2.3rem;
  --text-h5: 2.5rem;
  --text-h4: 3.125rem;
  --text-h3: 3.906rem;
  --text-h2: 4.883rem;
  --text-h1: 6.104rem;

  /* SPACING */
  --space-xs: 0.4rem; /* 4px */
  --space-sm: 0.8rem; /* 8px */
  --space-ms: 1.2rem;
  --space-md: 1.6rem; /* 16px */
  --space-ml: 2.4rem;
  --space-lg: 3.2rem; /* 32px */
  --space-lx: 4.8rem;
  --space-xl: 6.4rem; /* 64px */
  --space-2xl: 12.8rem; /* 128px */
  /* Guidance:
  Use:
    --space-lg or xl for section spacing
    --space-md for card/grid gap
    --space-sm for text or button spacing */

  /* FONT WEIGHT */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* LINE HEIGHT */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING : for big letter gap of heading tags*/
  /* --letter-spacing-tight: -2px; */

  /* FONT FAMILY */
  --ff-body: "Noto Sans", sans-serif;

  /* COLOR : Tint / Base / Shade */
  /* Use website: maketintsandshades.com */
  --primary-tint: var(--Red-400);
  --primary-base: var(--Red-500);
  --primary-shade: var(--Red-700);

  /* UI color */
  --color-bg: var(--Light-Gradient);
  --color-text: var(--Neutral-900);
  --color-border: var(--Neutral-300);
  --color-border-focus: var(--primary-tint);
  --color-gray-300: var(--Neutral-300);
  --color-gray-200: var(--Neutral-200);
  --color-gray-100: var(--Neutral-100);

  /* Shadows */
  --shadow-light: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
  --shadow-hard: 0 4px 8px rgba(0, 0, 0, 0.12);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 62.5% of 16px = 10px */
  /* 62.5% of 24px = 15px */
  /* When browser change font-size it will scale base on browser font-size */
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  line-height: var(--line-height-normal);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
  line-height: var(--line-height-tight);
  /* letter-spacing: -2px; NOTE: depend on font */
  /* color: black; depend on style*/
}

/* use website Typescale.com */
button {
  font-family: inherit;
}
h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

h6 {
  font-size: var(--text-h6);
}

p {
  /* font size 16px or 20px base on text readability */
  font-size: var(--text-paragraph);
}

a {
  text-decoration: none;
  font-size: var(--text-link);
  display: inline-block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

.small-text {
  font-size: var(--text-sm);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Components */
.btn {
  padding: var(--space-xs) var(--space-ms);
  border: none;
  background-color: var(--Neutral-0);
  border-radius: var(--space-lg);
  box-shadow: var(--shadow-light);
}
.border {
  border: 1px solid var(--color-border);
}

/* ==== layout styling ==== */
body {
  background-image: var(--color-bg);
}
.container {
  max-width: 1200px;

  width: 90%;
  margin: 0 auto;
}

/* Header  */
.header {
  background-color: var(--Neutral-0);
  margin-top: var(--space-lg);

  padding: var(--space-ms);
  display: flex;
  justify-content: space-between;
  border-radius: var(--space-md);
  box-shadow: var(--shadow-light);
}
.header__logo {
  height: 35px;
}
.header .btn-theme {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: var(--space-sm);
  background-color: var(--color-gray-100);
}
.header .btn-theme img {
  width: 20px;
  height: 20px;
}

/* Filter */
.filter {
  margin-top: var(--space-lx);
  margin-bottom: var(--space-ml);

  display: flex;
  justify-content: space-between;
}
.filter__button {
  display: flex;
  gap: var(--space-ms);
}
